{% include 'header.html' %}


<div class="container upload_file"> 
            <h1 class="headUpload">Upload</h1>
            <p class="upload_text">Upload a file in .csv format and get your data in the database istantly</p>
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                        <label style="padding-top:3%;">Upload a file</label>
                        <input type="file" class="form-control-file" name="file" placeholder="Enter file to upload">
                        <button type="submit" class="btn btn-secondary uploadButton">Upload</button>
					        <div class="alert alert-success alert-dismissable">
					            Success! message sent successfully.
					        </div>
                </form>
</div>

<script>
	$(document).ready(function(){
    $('button').click(function(){
        $('.alert').show()
    }) 
});

</script>