{% include 'header.html' %}
  <!-- Header - set the background image for the header in the line below -->
  
  <header class="py-5 bg-image-full">
    {% load static %}
  <video autoplay="" playsinline="" muted="" loop="" class="video-hero__video" data-object-fit="">
                            <source src="{%static 'images/genpact.jpg' %}" type="video/mp4">
                    </video>
  </header>

  <!-- Content section -->
    <div class="container hometext">
      <h1 class="car_head">Car Sales</h1>
      <p class="lead">Asia’s leading Customized Car Seller is one of the client for Genpact, offering different segments of car, that meet requirements for wide range of customers.</p>
      <a href ="{%static 'images/Enterprise for car Sales.pdf' %}" class="linkPDf"> Click here for the pdf file .</a>
    </div>


  <!-- Content section -->


  <!-- Bootstrap core JavaScript 
  <script src="js/bootstrap.bundle.min.js"></script>-->


