{% include 'header.html' %}
{% block content %}
	<div class="wrapper tablebox">

		  <h1 class="headUpload">All Details/Edit Details</h1>
            <p class="upload_text">You can edit the details by double clicking on the feild. (Sales and Date of Purchase being non editable)</p>
		<!------------------------>
		<p class="selectRow">Select Number Of Rows</p>
				<div class="form-group selectBox"> 	<!--		Show Numbers Of Rows 		-->
			 		<select class  ="form-control" name="state" id="maxRows">
						 <option value="5000">Show ALL Rows</option>
						 <option value="5">5</option>
						 <option value="10">10</option>
						 <option value="15">15</option>
						 <option value="20">20</option>
						 <option value="50">50</option>
						 <option value="70">70</option>
						 <option value="100">100</option>
						</select>
			 		
			  	</div>

		<!------------------------>
		<div class="table-responsive">
			<form method = "POST">
				{% csrf_token %}
				<table class="table table-hover " id = "dtBasicExample">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:5%">
						<col style="width:5%">
						<col style="width:5%">
					<thead>
						<tr>
						   <th>Sales Id</th>
						   <th>Date of Purchase</th>
						   <th>Customer</th>
						   <th>Fuel</th>
						   <th>Vehicle Segment</th>
						   <th>Selling Price</th>
						   <th>Power steering</th>
						   <th>Airbags</th>
						   <th>Sunroof</th>
						   <th>Matt finish</th>
						   <th>Music System</th>
						   <th>Customer Incomegroup</th>
						   <th>Customer Region</th>
						   <th>Marital Status</th>
 						</tr>
					</thead>
					{% for car in ListCars %}
						<tr>
							<td>{{ car.sales_id }}<span class="nonEdit">Non-Editable</span></td>
							<td>{{ car.pub_date }}<span class="nonEdit">Non-Editable</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="Customer_id">{{ car.Customer_id }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="Fuel">{{ car.Fuel }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="Vehicle">{{ car.VEHICLE_SEGMENT }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="SellingPrice">{{ car.SellingPrice }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="PowerSteering">{{ car.Power_steering }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="Airbags">{{ car.airbags }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="Sunroof">{{ car.sunroof }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="MattFinish">{{ car.Matt_finish }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="MusicSystem">{{ car.music_system }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="Customer_Incomegroup">{{ car.Customer_Incomegroup }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="CustomerRegion">{{ car.Customer_Region }}<span class="edit">Edit</span></td>
							<td class="editable" data-id="{{ car.sales_id }}" data-type="MaritalStatus">{{ car.Customer_Marital_status }}<span class="edit">Edit</span></td>
							
						</tr>
					{% endfor %}
				</table>
				<!--		Start Pagination -->
			<div class='pagination-container' >
				<nav>
				  <ul class="pagination">
            
            <li data-page="prev" >
								     <span class="pager"> < <span class="sr-only">(current)</span></span>
								    </li>
				   <!--	Here the JS Function Will Add the Rows -->
        <li data-page="next" id="prev">
								       <span class="pager"> > <span class="sr-only">(current)</span></span>
								    </li>
				  </ul>
				</nav>
			</div>
			<!--		End Pagination -->

			</form>
		</div>
	</div>
{% endblock %}

<script>
        $(document).ready(function(){
            $(document).on("dblclick",".editable",function(){
                var value=$(this).text();
                var input="<input type='text' class='input-data' value='"+value+"' class='form-control' placeholder='=<1 Million'>";
                $(this).html(input);
                $(this).removeClass("editable")
            });

            $(document).on("blur",".input-data",function(){
                var value=$(this).val();
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                sendToServer(td.data("id"),value,type);
            });
            $(document).on("keypress",".input-data",function(e){
                var key=e.which;
                if(key==13){
                    var value=$(this).val();
                    var td=$(this).parent("td");
                    $(this).remove();
                    td.html(value);
                    td.addClass("editable");
                   var type=td.data("type");
                   sendToServer(td.data("id"),value,type);
                }
            });

            function sendToServer(id,value,type){
                console.log(id);
                console.log(value);
                console.log(type);
                $.ajax({
                    url:"http://127.0.0.1:8000/savesCars",
                    type:"POST",
                    data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                   console.log("Error Occured");
                });

            }
            $('input').on('input', function () {
			    var value = $(this).val();
			    
			    if ((value !== '') && (value.indexOf('.') === -1)) {
			        
			        $(this).val(Math.max(Math.min(value, 1000000), -90));
			    }
			});
        });
    </script>  
